/*colores*/
$primary: #A1CEEA;
$primary-lighter: #c8b9ff;
$secondary: #f9befc;
$alternative: #f8aee9;
$text-color: #020202;
$background: #FFFFFF;
$mediaQcolor: blue;

/*fuentes*/
$font-principal:'Playfair Display', serif;
$font-secondary: 'Roboto Slab', serif;
$font-text: 'Edu VIC WA NT Beginner', cursive;
$font-alternative: 'Roboto Slab', serif;

/*espacios*/
$spacing-xsmall: .5rem;
$spacing-small: .8rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-xlarge: 2.5rem;

/*font-sizes*/
$xsmall: 1em;
$mediaq: 1.4em;
$small: 1.8;
$medium: 2.1em;
$large: 2.5em;
$xlarge: 4em;

/*width*/
$full: 100%;
$partial: 80%;

