.grid{
    .grid__header{
        grid-area: header;
        width: $full;

        header{
            position: static;
            width: $full;
            background-color: $primary;

            .header{
                padding: $spacing-xsmall;

                .header__encabezado{
                    display: flex;
                    justify-content: center;
                    align-items: center;        

                    .header__encabezado__img{
                        max-width: 300px;
                        justify-content: center;
                    }
                    
                }
                .header__menu{
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;
                    width: $full;
                    background-color: $secondary;
                    border-radius: 10px;
                    gap: $spacing-xlarge;
                    }
                    }
                }
                    }
                }
